/* div{
    background-color: black;
    color: white;
} */
/* 
@media only screen and (max-width: 600px) {
    body {
      background-color: blue;
      width: 40%;
    }
  }

  
@media only screen and (max-width: 414px) {
    body {
      background-color: blue;
      width: 40%;
    }
  } */

  .main{
    background-color: black;
    color: white;

  }
  .abc{
    background-color: blue;
    /* margin: 10px; */
  }
  .def{
    color: black;
    background-color: yellow;
  }
  .ghi{
    background-color: pink;
    color: black;
  }